@use "../../scss/" as *;

.main-body {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .main__poster {
    position: absolute;
    right: 20px;
    bottom: 0px;
    width: 600px;
    height: 650px;
    z-index: 2;
    overflow: hidden;
  }

  .main__info {
    color: #fff;
    z-index: 2;
    margin-left: 10px;
    width: max-content;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);

    .bar {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      width: 100%;
      height: 3px;
      background-color: #a29c9c;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #fff;
      }
    }

    h3 {
      font-size: 4rem;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    .content {
      margin-top: 20px;
      & > * ~ * {
        margin-top: 1.2rem;
      }
      p {
        width: 550px;
        word-wrap: break-word;
        display: block;
        text-align: justify;
      }
    }
    .ver-mas {
      margin-top: 3rem;
      @include flex(center, flex-start);
      text-transform: uppercase;

      .icon1 {
        margin-left: 1rem;
      }
    }
  }

  &__content {
    @include flex();
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 72%;

    &-title {
      @include flex();
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-top: 70px;
      margin-bottom: 20px;
      line-height: 1.2;

      .bold {
        font-weight: 600;
      }
    }
  }

  &__trailerbtn,
  &__trailerbtn2 {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: -70%;
      left: 0;
      width: 100%;
      bottom: 0;
      z-index: -1;

      border: 2px solid rgb(166, 163, 163);
    }

    &:before {
      transform: skew(-20deg);
      left: 20px;
      border-left: none;
    }

    &:after {
      transform: skew(20deg);
      right: 20px;
      left: auto;
      border-right: none;
    }
  }

  &__trailerbtn2 {
    width: 180px;
    height: 30px;
    top: 71%;
  }

  &__downbtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include flex();
    flex-direction: column;
    background-color: transparent;
    width: 50px;
    height: 60px;
    border: 2px solid rgb(166, 163, 163);
    border-bottom: none;
    cursor: pointer;
    z-index: 2;

    &:hover span {
      animation: animate 2s;
    }

    span {
      display: block;
      width: 12px;
      height: 12px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      margin: -12px;

      &:nth-child(2) {
        opacity: 0.5;
        animation-delay: -0.2s;
      }
      &:nth-child(3) {
        opacity: 0.3;
        animation-delay: -0.4s;
      }
    }
  }
}
